.contacto {
  background-color: #fff; /* Color de fondo */
}

.main-content-title {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
}

h2 {
  margin: 0;
  color: #2e5b6d;
  font-size: 26px;
}

.main-content-contacto {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Estilo más profesional para los formularios */
.form-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical;
}

.form-button {
  text-align: center;
}

button {
  background-color: #201e6e;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

/* estilos del pop up de envio con exito*/

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
  text-align: center;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ddd7d7;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.popup p {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 20px;
}

.popup button {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  padding: 10px 20px;
  background-color: #201e6e;
  color: #ffffff;
  border: #333;
  border-radius: 5px;
  cursor: pointer;
}

.popup button:hover {
  background-color: #0056a7;
}
